<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mortgage calculator</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="index.js"></script>
  <style>
    body {
      font-family: "Open Sans";
      font-size: 14px;
      padding: 0;
    }

    header {
      padding: 20px;
      text-align: center;
      background-color: #2c54a0;
      color: whitesmoke;
    }

    footer {
      margin-top: 40px;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      background-color: #525252;
      color: whitesmoke;
    }

    .input-group {
      margin-bottom: 10px;
    }

    .input-group-addon.fixed {
      width: 180px;
      text-align: left;
    }

    .row {
      margin-bottom: 20px;
    }

    .text-right {
      text-align: right;
    }
  </style>
</head>

<body>

  <header></header>

  <main class="container" ng-app="mortgageApp" ng-cloak>
    <div ng-controller="mortgageCtrl" style="padding: 20px;">

      <h3>Simple mortgage calculation with 100% offset account</h3>
      <hr />


      <section id="explaination">
        <h4>Principal repayment</h4>
        <p>The amount you have to repay to your principal loan every month. This amount does not include the monthly
          interest.
        </p>
        <ul>
          <li>Loan amount: 500,000 / Loan term: 30 years = <strong>1,388.89</strong> per month</li>
        </ul>

        <h4>Interest</h4>
        <p>
          Interest is calculated and accummulated daily and is paid at the end of each month. For example:
        </p>
        <ul>
          <li>Loan amount: 500,000</li>
          <li>Interest per annum: 6%</li>
          <li>Daily interest: 500,000 * 6% / 365 = <strong>82.19</strong> </li>
          <li>Interest paid at the end of a 28-day month: 82.19 * 28 = <strong>2,301.32</strong></li>
        </ul>

        <h4>Offset account</h4>
        <p>
          A savings account that will offset the loan amount. For example: if loan amount is 500,000 and
          offset account balance is 50,000. Then daily interest will be calculated as <strong>450,000 * interest rate /
            365 days</strong>
        </p>
        <p>You are considered <strong class="text-danger">not being able</strong> to serve your mortgage if your offset
          account is negative after the end of
          the month.</p>

        <h4>Notes</h4>
        <p>This simulation only calculates your serviceability <strong>after</strong> you have purchased a property.</p>
      </section>

      <hr />

      <p>
        Click on a sample scenario and Calculate button to see how it works:
      </p>

      <p>
        <a ng-click="setScenario($index)" href="javascript:void(0);" style="margin-right: 20px;"
          ng-repeat="s in scenarios">
          Scenario {{ $index + 1 }}
        </a>
      </p>

      <form style="margin-top: 20px;">

        <div class="row">
          <div class="col-sm-4">
            <h4>Your loan</h4>

            <div class="input-group">
              <span class="input-group-addon fixed"><span class="text-danger">Loan amount</span></span>
              <input type="number" class="form-control" placeholder="500000" ng-model="loanBalance">
              <span class="input-group-addon">.00</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon fixed"><span class="text-danger">Loan term in years</span></span>
              <input type="number" class="form-control" placeholder="30" ng-model="loanTerm">
              <span class="input-group-addon">years</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon fixed">Annual interest rate</span>
              <input type="number" step="any" class="form-control" placeholder="5" ng-model="interestRate">
              <span class="input-group-addon">%</span>
            </div>

            <h5>Loan option</h5>
            <label style="margin-right: 10px;">
              <input type="radio" ng-model="loanOption" ng-value=1> Principal & interest
            </label>
            <label>
              <input type="radio" ng-model="loanOption" ng-value=0> Interest only
            </label>
          </div>

          <div class="col-sm-1">

          </div>

          <div class="col-sm-7">
            <h4>Your circumstances</h4>

            <div class="input-group">
              <span class="input-group-addon fixed"><span class="text-success">Offset acct
                  balance</span></span>
              <input type="number" class="form-control" placeholder="20000" ng-model="offsetBalance">
              <span class="input-group-addon">at the beginning</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon fixed"><span class="text-success">All income</span></span>
              <input type="number" class="form-control" placeholder="7000" ng-model="monthlyIncome">
              <span class="input-group-addon">per month</span>
            </div>

            <div class="input-group">
              <span class="input-group-addon fixed"><span class="text-danger">All expenses</span></span>
              <input type="number" class="form-control" placeholder="3000" ng-model="monthlyExpense">
              <span class="input-group-addon">per month</span>
            </div>

            <div ng-show="loanOption === 1">
              <p>
                Default principal repayment: {{ loanBalance | number: 2 }} / {{ loanTerm }} years / 12 months = <span
                  class="text-danger">{{ calcMonthlyPrincipalRepayment() }}</span>
              </p>
              <p>
                You can change it to suit your situation in this simulation. However this amount is set by your lender
                most of the time.
              </p>
            </div>
            <div class="input-group" ng-show="loanOption === 1">
              <span class="input-group-addon fixed"><span class="text-danger">Principal repayment</span></span>
              <input type="number" class="form-control" ng-model="monthlyPrincipalRepayment">
              <span class="input-group-addon">per month</span>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-danger" ng-click="calculate()">Calculate</button>
          </div>
        </div>

        <div ng-if="monthlyDataArray.length > 0">
          <p>Loan start date {{ loanStartDate | date:'dd MMM yyyy' }}</p>

          <div class="row">
            <div class="col-sm-12">
              <div ng-if="accruedOffsetBalance > 0">
                <span class="text-success">You could pay off your mortgage after <strong>{{ monthlyDataArray.length / 12
                    | number : 2}} years.</strong></span>
                <span>Total interest paid is <strong class="text-danger">{{ accruedInterestBalance | number: 2
                    }}</strong></span>
              </div>

              <div ng-if="accruedOffsetBalance <= 0" class="text-danger">
                You will never pay off your mortgage. You're gonna run dry after <strong>{{ monthlyDataArray.length / 12
                  | number: 2}} years</strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table class="table">
                <caption>Monthly break-down</caption>
                <tr>
                  <th class="text-right">Month end</th>
                  <th class="text-right">Accrued offset acct balance</th>
                  <th class="text-right">Remaining loan balance</th>
                  <th class="text-right">Interest paid in month</th>
                  <th class="text-right">Total interest paid</th>
                </tr>
                <tr ng-repeat="monthlyData in monthlyDataArray">
                  <td class="text-right">{{ monthlyData.date }}</td>
                  <td class="text-right">{{ monthlyData.totalOffset | number: 2 }}</td>
                  <td class="text-right">{{ monthlyData.loanBalance | number: 2}}</td>
                  <td class="text-right">
                    {{ monthlyData.interestPaid | number: 2}}
                  </td>
                  <td class="text-right">{{ monthlyData.totalInterest | number: 2 }}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>

      </form>
    </div>
  </main>

  <footer>
    &#169;
    <script>document.write(new Date().getFullYear())</script>
  </footer>



</body>

</html>