<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UAC Survey</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="http://code.highcharts.com/maps/modules/map.js"></script>
  <script src="http://code.highcharts.com/mapdata/custom/world.js"></script>
  <script src="index.js"></script>
  <style>
    body {
      font-family: "Open Sans";
      font-size: 14px;
      padding: 0;
      /*background-color: #f3f3f3;*/
    }

    header {
      padding: 20px;
      text-align: center;
      background-color: #2c54a0;
      color: whitesmoke;
    }

    footer {
      margin-top: 40px;
      padding: 10px;
      font-size: 12px;
      text-align: center;
      background-color: #525252;
      color: whitesmoke;
    }

    .text-thin {
      font-weight: 300;
    }

    .text-thick {
      font-weight: 700;
    }

    .container {
      padding-top: 40px;
    }

    hr {
      border-top: 1px solid #dedede;
      margin: 40px 0 !important;
    }

    img {
      border: 1px solid #dcd7d7;
    }

    .tab-pane {
      padding-top: 20px;
    }

    table th {
      border-top: none !important;
    }
  </style>
</head>

<body>

<header></header>

<main class="container" ng-app="surveyApp">
  <div ng-controller="surveyCtrl">


    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href="#platforms" data-toggle="tab">Platforms</a></li>
        <li role="presentation"><a href="#messages" data-toggle="tab">Applicant messages</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3 style="margin-bottom: 40px;">Undergraduate application ease of use survey</h3>
              <div id="rating-chart"></div>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="col-sm-12 text-center">
              <h3 style="margin-bottom: 40px;">Locations</h3>
              <div id="map-container"></div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="platforms">
          <div class="row">
            <div class="col-sm-6 text-center">
              <h3>Browsers</h3>
              <div id="browser-pie"></div>
            </div>
            <div class="col-sm-6 text-center">
              <h3>Operating systems</h3>
              <div id="os-pie"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-push-3 text-center">
              <h3>Devices</h3>
              <div id="device-pie"></div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="messages">
          <div class="row">
            <div class="col-sm-6">
              <table class="table">
                <tr>
                  <th><a href="#" ng-click="mostLikeRating = !mostLikeRating">Rating</a></th>
                  <th><i class="material-icons text-success" title="Most like">thumb_up</i></th>
                </tr>
                <tr ng-repeat="feedback in mostLike | orderBy: !mostLikeRating ? '-how_easy' : 'how_easy'">
                  <td>{{feedback.how_easy}}</td>
                  <td>{{feedback.most_like}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-6">
              <table class="table">
                <tr>
                  <th><a href="#" ng-click="leastLikeRating = !leastLikeRating">Rating</a></th>
                  <th><i class="material-icons text-muted" title="Most like">thumb_down</i></th>
                </tr>
                <tr ng-repeat="feedback in leastLike | orderBy: !leastLikeRating ? 'how_easy' : '-how_easy'">
                  <td>{{feedback.how_easy}}</td>
                  <td>{{feedback.least_like}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
</main>

<footer>
  &#169; <script>document.write(new Date().getFullYear())</script>
</footer>



</body>
</html>