<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="chance.min.js"></script>
  <script src="catpuzzle.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <style>
    body {
      font-family: "Lato";
      font-size: 14px;
      padding: 0 20px 20px;
    }
    .door {
      display: inline-block;
      width: 70px;
      height: 100px;
      margin-right: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      text-align: center;
      padding-top: 10px;
    }
  </style>
</head>

<body ng-app="catApp" ng-controller="catCtrl">

<div>

  <h2 class="text-danger">Cat Riddle</h2>

  <div class="row">
    <div class="col-sm-12">
      <p>A straight corridor has 7 doors along one side. Behind one of the doors sits a cat. Your mission is to find the cat by opening the correct door. Each day you can open only one door. If the cat is there, you win. You are officially smarter than a cat. If the cat is not there, the door closes, and you must wait until the next day before you can open a door again.</p>
      <p>If the cat was always to sit behind the same door, you would be able to find it in at most seven days, by opening each door in turn. But this mischievous moggy is restless. Every night it moves one door either to the left or to the right.</p>
      <p>How many days do you now need to make sure you can catch the cat?</p>
      <p>The 7 doors are in a line, so if the cat is behind the first or the last door, it has only one option for where it can move during the night. Otherwise, each night it decides randomly whether to move to the left or to the right.</p>
      Reference link: <a href="https://www.theguardian.com/science/2017/jul/03/can-you-solve-it-are-you-smarter-than-a-cat" target="_blank">Can you solve it? Are you smarter than a cat?</a>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="door in doors" ng-click="openDoor(door)"
           class="door btn btn-default" ng-class="{'btn-success': correctDoor == door}">
        Door {{ door }}
      </div>
    </div>
  </div>

  <p>{{ message }}</p>

  <button ng-click="reset()" class="btn btn-default">Reset</button>

</div>
</body>
</html>